* {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f7f7f7;
}
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}

/*
headeer top
*/
.topbar{
  background-color: #212529;
  padding: 0;
}

.topbar .container .row {
  margin:-7px;
  padding:0;
}

.topbar .container .row .col-md-12 { 
  padding:0;
}

.topbar p{
  margin:0;
  display:inline-block;
  font-size: 13px;
  color: #f1f6ff;
}

.topbar p > i{
  margin-right:5px;
}
.topbar p:last-child{
  text-align:right;
} 

header .navbar {
    margin-bottom: 0;
}

.topbar li.topbar {
    display: inline;
    padding-right: 18px;
    line-height: 52px;
    transition: all .3s linear;
}

.topbar li.topbar:hover {
    color: #1bbde8;
}

.topbar ul.info i {
    color: #131313;
    font-style: normal;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.topbar ul.info li {
    float: right;
    padding-left: 30px;
    color: #ffffff;
    font-size: 13px;
    line-height: 44px;
}

.topbar ul.info i span {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 18px;
}

ul.social-network {
  border:none;
  margin:0;
  padding:0;
}

ul.social-network li {
  border:none;  
  margin:0;
}

ul.social-network li i {
  margin:0;
}

ul.social-network li {
    display:inline;
    margin: 0 5px;
    border: 0px solid #2D2D2D;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;
    height: 32px;
    vertical-align: baseline;
    color: #000;
}

ul.social-network {
  list-style: none;
  margin: 5px 0 10px -25px;
  float: right;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: .3s ease-out;
    color: #fff;
}
a {
  color: #0a0a0a;
  text-decoration: none;
}

li {
    list-style-type: none;
}
.bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bg-dark {
    background-color: #222!important;
}

a.navbar-brand.font-blue {
    color: #06d;
}
.mx-background-top-linear {
    background: -webkit-linear-gradient(45deg, #FFF 48%, #1b1e21 48%);
    background: -webkit-linear-gradient(left, #FFF 48%, #1b1e21 48%);
    background: linear-gradient(45deg, #FFF 48%, #1b1e21 48%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.profile-pic img {
    width: 130px;
    border-radius: 50% !important;
    padding: 00;
    border: 4px solid #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.profile-container {
    background-color: #0066dd;
    height: 170px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.content-container {
    width: 70%;
    margin: 0 auto;
}

.profile-pic {
    width: 70%;
    margin: 0 auto;
}

.picplacement {
    padding: 20px 0;
    display: inline-block;
}

.picdescription {
    color: #fff;
    padding: 0px 10px;
    vertical-align: middle;
}

.picdescription h6 a {
    color: #fff;
}

.bg-blue {
    background: #0066dd;
}

h6.title {
    margin: 0;
    color: #fff;
}

.Link-content .link-template {
    padding: 10px 15px;
    border-bottom: 1px solid #d1d1d1;
}

.Link-content .link-template a {
    color: #333;
    display: block;
}

.Link-content .link-template a:hover {
    text-decoration: none;
    color: #0066dd;
    transition: 0.3s all cubic-bezier(0.8, 0.05, 0.21, 1.1);
}

.heading1 {
    color: #02a2ff;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 20px;
}


.advertise {
    font-size: 18px;
    border: 2px solid #8fb9ea;
    height: 350px;
    margin-top: 15px;
    background: url(/images/dsd4.jpg);
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-size: cover;
    background-position: 20px;
}

.btn-custom {
    margin: 0 auto;
    width: 40%;
    display: block;
    border: 1px solid #8fb9ea;
    background: #c0ddff;
    color: #0066dd;
    height: 50px;
    font-weight: bold;
}

.session {
    width: 65%;
    margin: 0 auto;
    border: 2px solid #f5f1f1;
    padding: 30px 20px 32px 20px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.session .trainingpic {
    float: left;
}

.session .trainingpic {
    margin-right: 21px;
}

.session .trname {
    color: #0066dd;
    font-weight: bold;
}

.session .scheduled {
    color: #444;
    font-size: 13px;
}

.mt20 {
    margin-top: 20px;
}


.btn-center {
    margin: 10px auto;
    width: 36%;
    display: block;
}

.btn-session {

    border-radius: 15px;
    font-size: 12px;

}

.btn-blue {
    background-color: #02a2ff;
    color: #fff;
}

.groupbutton {
    margin-top: 8px;
}

section {
    margin-bottom: 20px;
}

.session .trainingpic img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.livesession .trainingpic img {
    width: 95px;
    height: 95px;
    margin-right: 20px;
    border-radius: 50%;
    border: 2px solid #a7a7a7;
}

.rounded {
    border-radius: 20px !important;
}

.livesession {
    margin-top: 15px;
}

.trdetails .desc {
    font-size: 16px;
    margin-bottom: 15px;
}

.adesc .dname {
    font-weight: bold;
    display: inline-block;
}

.dname+.tag {
    display: inline-block;
    background: #02a2ff;
    padding: 0 10px;
    font-size: 13px;
    border-radius: 10px;
    color: #fff;
}

.workstatus {
    color: #1976D2;
    font-size: 14px;
}

/* Rating css  */
.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #cfcfcf;
    font-size: 25px;
    height: 25px;
    width: 100px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
}

.star-ratings-css-top {
    color: #FFB300;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
}

.author {
    font-size: 14px;
}

.author span {
    color: #ef5350;
}

.ad-desc {
    font-weight: bold;
    margin: 10px 0;
}

.img-banner img {
    width: 100%;
}

fieldset.rating {
    float: left;
}

.enrolltext {
    font-size: 20px;
    font-weight: bold;
}

.enrolltext+.progress {
    margin-top: 20px;
}

.btn-custom.full {
    width: 100%;
}

.wrap-template {
    border-radius: 7px;
    height: 100px;
    position: relative;
    background: #f2f2f2;
}

.wrap-icon {
    float: left;
    width: 45px;
    height: 100px;
    font-size: 28px;
    text-align: center;
    position: absolute;
    display: table;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    color: #fff;
}

.wrap-icon i {
    vertical-align: middle;
    display: table-cell;
}

.bg-violet {
    background: #a749b7;
}

.bg-green {
    background: #2ba29c;
}

.bg-rose {
    background: #e9427a;
}

.bg-orange {
    background: #f35053;
}

.pd-10 {
    padding-left: 15px;
}

.template-container {
    width: 80%;
    margin: 15px auto;
}

.diag-template .progress {
    width: 55px;
    height: 55px;
    background: none;
    position: relative;
}

.diag-template .progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}

.diag-template .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.diag-template .progress .progress-left {
    left: 0;
}

.diag-template .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.diag-template .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.diag-template .progress .progress-right {
    right: 0;
}

.diag-template .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.diag-template .progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
}

.diag-template {
    padding-top: 7px;
}

.h2 {
    font-size: 16px;
    padding-top: 8px;
}

.contenttitle {
    width: 62%;
    margin: 2% 16px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    float: right;
}

.border-violet {
    border-color: #a749b7;
}

.border-orange {
    border-color: #f35053;
}

.border-rose {
    border-color: #e9427a;
}

.dsp-template {
    float: right;
    width: 87%;
}

.mt10 {
    margin-top: 10px;
}

.txt-header {
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    line-height: 15px;
    margin-right: 10px;
}

.progress {
    background-color: #2183e461;
}


.progress.bg-custom {
    background-color: #B2DFDB;
}

.progress.bg-custom .progress-bar {
    background-color: #26A69A;
}

.lined {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.lined h6 {
    font-weight: 600;
}

.diag-template .progress.mx-auto {
    margin-left: 42% !important;
}

.diag-template.full .contenttitle {
    width: 26%;
    margin: 4px auto;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    float: none;
}

.stages {
    display: inline-block;
    width: 23.5%;
}

.stages .dotted {
    border: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 10;
    background: #d2d2d2;
    margin: 0 auto;
}

.tract-template {
    width: 80%;
    margin: 10px auto;
}

.stages .line {
    border-bottom: 4px solid #ddd;
    position: absolute;
    width: 100%;
    top: 9px;
    left: 50%;
    z-index: -1;
}

.stages {
    position: relative;
}

.stagetext {
    text-align: center;
    position: absolute;
    font-size: 16px;
}

.stages.inprogress .dotted {
    border: 2px solid #0066dd;
    background: #fff;
}

.stages.active .dotted {
    background: #0066dd;
}

.stages.active .line {
    border-bottom-color: #0066dd
}


.mb20 {
    margin-bottom: 20px;
}

.stages.inprogress:before {
    font-family: FontAwesome;
    content: "\f041";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    position: absolute;
    top: -38px;
    right: 42%;
    color: #0066dd;
    font-size: 28px;
}


/* Media Queries */

@media screen and (max-width:1150px) {
    .content-container {
        width: 80%;
    }

    .diag-template.full .contenttitle {
        width: 50%
    }
    .btn-custom,.btn-center {
        width: 50%;
    }
}

@media screen and (max-width:991px) {
    .template-container {
        width: 100%;
    }
  
}

@media screen and (max-width:750px) {
    .container.content-container {
        width: 100%;
    }

    .session {
        width: 75%;
    }

    .btn-custom {
        width: 60%;
        margin-top: 15px;
    }

    .btn-center {
        width: 50%;
    }

    .advertise {
        padding: 0 10px;
    }

    .wrap-template {
        margin-bottom: 15px;
    }

    .template-container {
        margin-bottom: 0px;
        width: 100%;
    }
    .dsp-template{
        left:-14px;
    }
}

@media screen and (max-width:650px) {
    .advertise{
        display: none;
    }
    .session {
        width: 80%;
    }

    .contenttitle {
        width: 40%;
        margin-right: 30%;
    }

    .profile-pic {
        width: 95%
    }

    .dsp-template {
        width: 75%;
        float: right;
    }
}

@media screen and (max-width:420px) {
    .profile-container {
        height: 130px;
    }
    .session {
        width: 90%;
    }

    .btn-center {
        width: 80%;
    }

    .dsp-template {
        width: 80%;
        margin-left: 0px;
        left: -28px;
    }

    .profile-pic img {
        width: 65px;
    }

    .btn-custom {
        width: 90%;
    }

    .picdescription h3 {
        font-size: 18px;
    }

    .picdescription h4,
    .picdescription h6 {
        font-size: 12px;
    }
}